{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'CSS/login.css' %}">
{% endblock %}

{% block content %}
    <h1>Log In</h1>
    <h2>Read or Skip</h2>

    <form method="POST">
        {% csrf_token %}
        
        <label for="username">Username:</label>
        <input type="text" name="username" required>

        <label for="password">Password:</label>
        <input type="password" name="password" required>

        <button type="submit" class="login-button">Login</button>
    </form>

    <p>Not a user? <span>Register Now:</span></p>
    <a href="{% url 'register' %}" class="signup-button">Sign up</a>
{% endblock %}
