body 
{
    font-family: Arial, sans-serif;
    background-color: lightblue;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px; 
    min-height: 100%; 
}


.navbar 
{
    background: #03254c; 
    width: 100%;
    font-family: 'Faculty Glyphic', 'Arial Narrow', Arial, sans-serif;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}


.navbar .left 
{
    flex: 1;
    text-align: left; 
}


.navbar .center 
{
    display: flex;
    justify-content: space-evenly;
    flex: 2;
    text-align: center; 
}

.navbar .right 
{
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 
    flex-grow: 1; 
    min-width: 0;
}

.navbar .right input 
{
    padding: 8px;
    width: 150px;
    border-radius: 20px;
    border: none;
}

.navbar .right a 
{
    background-color: #104a8e;
    color: white;
    font-size: 20px;
    padding: 8px 16px;
    border-radius: 20px;
    text-decoration: none;
    margin: 0 10px;
}


.navbar ul 
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li 
{
    display: inline-block;
    margin: 0 10px;
}

.navbar li a 
{
    background-color: #104a8e;
    color: white;
    font-size: 20px; 
    padding: 8px 16px; 
    border-radius: 20px; 
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease; 
}


.navbar li a:hover 
{
    background-color: #5fa3d1;
}


