body {
    background-image: url("{% static 'static/images/login_background.jpg' %}");
}


/* Additional styling for the form */
form {
    width: 100%;
    max-width: 400px;
    background-color: rgba(50, 50, 50, 0.8); /* Semi-transparent background */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    text-align: center;
}

input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    width: 95%;
    padding: 12px;
    background-color: #28a745;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.signup-button {
    display: inline-block;
    padding: 12px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.signup-button:hover {
    background-color: #0056b3;
}
